# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.sqlite3
venv/
env/
.env

# Django
*.log

# IDE
.vscode/
.idea/

JO-Virt/
media/

# Ignore les fichiers générés automatiquement
/staticfiles/
/static_root/
/media/

# Garde les fichiers statiques créés à la main
!static/*
